﻿body{
	width:1600px;
	height:1000px;
	background-image:url('../pixx/backAW.jpg');
}

#menueAW
{
	
		width:1200px;
		height:600px;
		background-color:lime;
		margin-left:450px;
	}	
#menu 
{
		text-align: center;
		width:1000px;
		height:100px;
}
	
	
#menu li
{
	
          width: 200px;
          height:100px;
         padding: 5px;
         margin: 5px;
         text-align: center; 
          display: inline;  
         background-image:url('../pixx/buttons/btn200b.png');
		background-repeat:no-repeat;
 
          }
#menu li a 
{
			color: #FFFFFF;
            text-decoration: none;
            font-weight: bold;      
                  }
#menu li:hover 
{
	
	background-image:url('../pixx/buttons/btn200_bhover.png');

	background-repeat:no-repeat;

}
#menu li a:hover
 	{
 color:#99CC00;
 	}

#kosmetik
{
	width:1200px;
	height:800px;
	
	
	padding-bottom:100px;
	
}

#gesicht
{
	width:1000px;
	height:400px;
	

	}
.gesicht
{
	margin-top:80px;
	margin-left:220px;
}


#auge
{
	width:200px;
	height:200px;
	
	}
	.auge
{
	margin-top:400px;
	margin-left:150px;
}

	#auge
{
	width:200px;
	height:200px;

	}
#stinkefuss
{
		
}

.stinkefuss
{	
	
	margin-left:400px;
	

}
#mani
{
		
}

.mani
{	
	
	margin-left:780px;
	margin-top:80px;
}
#enthaar
{
		
		}

.haar
{	
	
	float:left;
	margin-left:170px;
	margin-top:50px;

}

#nase
{
	
	float:left;
}

#nasen
{
	width:800px;
	height:300px;

	margin-left:400px;	
	
}

#ohr
{
	width:400px;
	height:200px;
	margin-left:200px;
	
	

}

#center
{
	text-align:center;
	width:800px;
	height:400px;
}
#center2
{
	
	width:800px;
	height:400px;
	margin-left:450px;
	background-image:url('../pixx/beine/schoeneBein.png'); background-repeat:repeat-x;
	}

#aktion
{
	width:1000px;
	height:700px;
	background-color:aqua;
	margin-left:450px;
}

#tab
{
	text-align:center;
}

#head
{
	font-size:x-large;
	font-weight:bolder;
	font-style:italic;
	text-decoration:underline;
	margin-left:350px;
}
#foot
{
	font-weight:bolder;
	font-style:italic;
	font-size:large;

}

#text
{
	font-weight:bolder;
	font-style:italic;
	font-size:large;
	margin-left:330px;
	

	


}
#text2
{
	font-weight:bolder;
	font-style:italic;
	font-size:large;
		margin-left:330px;
	

	

}
#text3
{
	font-weight:bolder;
	font-style:italic;
	font-size:large;
	margin-left:50px;
	

}

#foto
{
	margin-left:200px;
}