﻿#fuss
{
	width:1600px;
	height:900px;
	margin-left:150px;
	background-image:url('../pixx/fuesseUndHaende/fuss.JPG');
	padding:2px;
	border-color:black;
	border-style:groove;
	border-color:ThreeDDarkShadow;
	border-style:double;
	border-width:thick;
	
	
	
}

#bild
{
	border-color:black;
	border-color:ThreeDDarkShadow;
	border-style:double;
	border-width:thick;
	float:left;
	margin-top:100px;
}

#fusspreise
{
	border-color:ThreeDShadow;
	border-style:double;
	border-width:thick;
	background-color:#C0C0C0;
	border-spacing:2px;
	border-color:black;
	margin-left:500px;
	width:350px;
	height:300px;
	text-align:center;
}
.name
{
	border-color:ThreeDShadow;
	border-style:double;
	border-width:thick;
	
	border-spacing:2px;
	border-color:black;
	width:500px;
	text-align:center;


}
.anwendung
{
	border-color:ThreeDShadow;
	border-style:double;
	border-width:thick;
	
	border-spacing:2px;
	width:300px;
	text-align:center;
	

}
					
.preis
{
	border-color:ThreeDShadow;
	border-style:double;
	border-width:thick;
	
	border-spacing:2px;
	text-align:center;




}	

.med
{	
	border-color:ThreeDShadow;
	border-style:double;
	border-width:thick;
	
	border-spacing:2px;
	width:100px;
	text-align:center;
	

}

.special
{
	border-color:ThreeDShadow;
	border-style:double;
	border-width:thick;
	
	border-spacing:2px;
	text-align:center;
	

}	

.euro
{
	border-color:ThreeDShadow;
	border-style:double;
	border-width:thick;
	
	border-spacing:2px;
	text-align:center;

	
}
.fuss
{
	width:350px;
	text-align:center;
	
}

#mark
{	
	font-variant:inherit;
	font-style:oblique;
	font-weight:bolder;

}
#bild2
{
	float:right;
	border-color:black;
	border-color:ThreeDDarkShadow;
	border-style:double;
	border-width:thick;
	

}
