﻿body{
	width:1600px;
	height:800px;
	background-color:#66FF66;
}


#main
{
	width:1280px;
	height:750px;
	background-color:fuchsia;
	margin-left:300px;
	}

#menue
{
	margin-left:200px;
	margin-top:1px;
	background-color:green;
	
	}	
	
#tabelle
{
background-color:maroon;
width:840px;
height:180px;
margin-left:200px;
}


#news
{
	width:180px;
	height:400px;
	background-color:blue;
	margin-right:1100px;
	

	
}



#footer
{
	width:1280px;
	height:100px;
	background-color:aqua;
	margin-top:10px;
}
.preise
{
	border-color:ThreeDShadow;
	border-style:double;
	border-width:thick;
	background-color:#FFFF66;
	border-spacing:2px;
	border-color:black;
	margin-left:280px;
	width:250px;
	height:auto;
}
.kosten
{
	border-color:ThreeDShadow;
	border-style:double;
	border-width:thick;
	
	border-spacing:2px;
	border-color:black;


}
.anwendung
{
	border-color:ThreeDShadow;
	border-style:double;
	border-width:thick;
	
	border-spacing:2px;
	

}
					
.preis
{
	border-color:ThreeDShadow;
	border-style:double;
	border-width:thick;
	
	border-spacing:2px;



}	

.augen
{	
	border-color:ThreeDShadow;
	border-style:double;
	border-width:thick;
	
	border-spacing:2px;

}

.fuss
{
	border-color:ThreeDShadow;
	border-style:double;
	border-width:thick;
	
	border-spacing:2px;

}	

.augenpreis
{
	border-color:ThreeDShadow;
	border-style:double;
	border-width:thick;
	
	border-spacing:2px;

	
}

.fusspreis
{
	border-color:ThreeDShadow;
	border-style:double;
	border-width:thick;
	
	border-spacing:2px;

}

#logo
{
	width:200px;
	height:150px;
	padding-top:10px;
}

#baustelle
{

	margin-right:10px;
	width:200px;
	height:100px;
}
#slider
{
	width:980px;
	height:550px;
	margin:0px auto;
	padding:right:400px;
}

#main2
{
	width:1280px;
	height:750px;

	margin-left:300px;
	margin-top:80px;
}

#wahl
{
	float:left;
}
#wahl2
{
	float:left;
}


#back
{
	margin-right:500px;
	margin-bottom:200px;
}


#mainneu
{
	
	width:800px;
	height:300px;
}
#kossi
{

	float:left;

	
}
#mainhand
{
	width:1200px;
	height:100px;

}


#handpreis
{
	background-image:url('../pixx/fuesseUndHaende/handpreis.jpg');
	width:1500px;
	height:800px;
	margin-left:200px;
	border-color:black;
	border-width:thick;
	border-style:double;

	
	}

#handpreise
{
	border-color:ThreeDShadow;
	border-style:double;
	border-width:thick;
	background-color:#C0C0C0;
	border-spacing:2px;
	border-color:black;
	margin-left:500px;
	width:350px;
	height:100px;
	text-align:center;
}
.name
{
	border-color:ThreeDShadow;
	border-style:double;
	border-width:thick;
	
	border-spacing:2px;
	border-color:black;
	width:500px;
	text-align:center;


}
.anwendung
{
	border-color:ThreeDShadow;
	border-style:double;
	border-width:thick;
	
	border-spacing:2px;
	width:300px;
	text-align:center;
	

}
					
.preis
{
	border-color:ThreeDShadow;
	border-style:double;
	border-width:thick;
	
	border-spacing:2px;
	text-align:center;




}	

.med
{	
	border-color:ThreeDShadow;
	border-style:double;
	border-width:thick;
	
	border-spacing:2px;
	width:100px;
	text-align:center;
	

}

.nagel
{
	border-color:ThreeDShadow;
	border-style:double;
	border-width:thick;
	
	border-spacing:2px;
	text-align:center;
	width:300px;


}	

.handset
{
	border-color:ThreeDShadow;
	border-style:double;
	border-width:thick;
	
	border-spacing:2px;
	text-align:center;
	width:300px;

	
}
.hand
{
	width:350px;
	text-align:center;
	
}

.nageldesign
{
	border-color:ThreeDShadow;
	border-style:double;
	border-width:thick;
	
	border-spacing:2px;
	text-align:center;
	

}	

#start
{
	float:right;
	margin-top:400px;
	
	}