﻿/* 3-Gaenge-Menue */
#menue1 {
width: 180px;
margin: 0 auto;
margin-right:600px;
}
#menue1 #abstand1 {
border: 1px solid;
border-color: #ffffff #304e6a #304e6a #ffffff;
background: #e7d5b5;
padding: 5px 10px;
}
#schalter1 a {
display: block;
padding: 2px;
text-decoration: none;
border: 1px solid #ccc;
width: 150px;
font-weight: bold;
text-align: right;
margin: 3px 0;
background-color: #e0d0b0;
}
#schalter1 a:link {
color: #304e6a; 
}
#schalter1 a:visited {
color: #369;
}
#schalter1 a:hover {
border: 1px solid;
border-color: #eeeeee #304e6a #304e6a #eeeeee;
background-color: #d0c0a0;
color: #fff;
}
#schalter1 a:active {
color: #c00;
}
#schalter1 a .pfeil1 {
display: none;
}
#schalter1 a:hover .pfeil1 {
display: inline;
color: #c00;
}
#menue1 .toc1 {
color: #757575;
font-size: 85%;
font-weight: bold;
margin: 0 5px 5px;
}
#menue1 .copy1 {
color: #757575;
font-size: 80%;
font-weight: normal;
margin: 5px 0 0;
text-align: right;
}
#menue1 .space1 {
font-size: 1px;
margin: 3px 0;
}
#menue1
{
	float:left;
	
}

#pdf
{
	float:left;
}