﻿.trigger
{
	
	
}

.team
{
		padding-bottom:20px;
	
}




#firstTrigger
{
		display:none;
		

}
#myteam
{
	
	background-image:url('../pixx/buttons/btn200.png');

	
}
#myteam1
{
	
	background-image:url('../pixx/buttons/btn200.png');

	
}
#myteam2
{
	
	background-image:url('../pixx/buttons/btn200.png');

	
}
#firstTrigger2
{
		display:none;
		


